<div class="car-details" *ngIf="carDetails">
  <div class="container">
    <h1 class="my-3 details-title">{{'car-details-page' | translate}}</h1>
    <div class="row">
      <div class="col-12 col-sm-6 position-relative mx-auto text-center mb-3">
        <div class="image-details mb-3">
          <img (load)="checkImageloaded()" class="img-fluid img-thumbnail" src="{{carDetails?.image}}" (error)="carDetails.image = '../../../../../assets/default-Item.jpg'" alt="{{carDetails?.company}} Image" />
        </div>
        <div class="row w-100 mx-auto" *ngIf="carDetails.images.length != 0">
          <div class="col-4 mx-auto px-0 mb-1" *ngFor="let img of carDetails.images; let i = index">
            <div #secondImageDetails class="second-images-details"  (click)="viewImage(secondImageDetails)">
              <img (load)="checkSecondImagesloaded(i)" class="img-responsive" src="{{img?.image}}" (error)="img.image = '../../../../../assets/default-Item.jpg'" alt="Second Images" />
            </div>
          </div>
        </div>
        <div class="overlay" *ngIf="rendering">
          <div class="overlay-lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mx-auto">
        <div class="info-details">
          <ul class="list-unstyled">
            <li>
              <div class="row">
                <div class="col">
                  <h4 class="text-info">{{carDetails?.company}}</h4>
                </div>
                <div class="col align-self-center text-right">
                  <span class="status border border-secondary rounded py-1 px-2">{{carDetails?.status}}</span>
                </div>
              </div>
            </li>
            <li class="my-2">
              <div class="row">
                <div class="col-4 col-xl-3 text-center">
                  <img class="img-fluid img-thumbnail" src="{{carDetails?.userImage}}" (error)="carDetails.userImage = '../../../../../assets/default-avatar.jpg'" alt="{{carDetails?.username}} Image" />
                </div>
                <div class="col-7 align-self-center">
                  <h4 class="mb-2 text-secondary">{{carDetails?.username}}</h4>
                </div>
              </div>
            </li>
            <li *ngIf="carDetails?.carType"><p class="mb-2">{{'carType' | translate }} : <span class="text-secondary">{{carDetails?.carType}}</span></p></li>
            <li *ngIf="carDetails?.country"><p class="mb-2">{{'country' | translate }} : <span class="text-secondary">{{carDetails?.country}}</span></p></li>
            <li *ngIf="carDetails?.price"><p class="mb-2">{{'price' | translate }} : <span class="text-secondary">{{carDetails?.price | currency}}</span></p></li>
            <li *ngIf="carDetails?.yearOfRelease"><p class="mb-2">{{'yearOfRelease' | translate }} : <span class="text-secondary">{{carDetails?.yearOfRelease.timestamp * 1000 | date: 'yyyy-MM-dd'}}</span></p></li>
          </ul>
        </div><!--.info-details-->
      </div><!--.col-12-->
      <div class="col-12">
        <hr class="w-50 mx-auto">
      </div>
      <div class="col-12">
        <h3 class="">{{'more-info' | translate}} :</h3>
      </div>
      <div class="col-12 col-sm-6 mx-auto">
        <ul class="list-unstyled">
          <li *ngIf="carDetails?.city"><p class="mb-2">{{'city' | translate }} : {{carDetails?.city}}</p></li>
          <li *ngIf="carDetails?.distance"><p class="mb-2">{{'distance' | translate }} : {{carDetails?.distance}}</p></li>
        </ul>
      </div><!--.col-12-->
      <div class="col-12 col-sm-6 mx-auto">
        <ul class="list-unstyled">
          <li *ngIf="carDetails?.createdBy"><p class="mb-2">{{'createdBy' | translate }} : {{carDetails?.createdBy}}</p></li>
          <li *ngIf="carDetails?.createdAt"><p class="mb-2">{{'createdAt' | translate }} : {{carDetails?.createdAt.timestamp * 1000 | date: 'yyyy-MM-dd'}}</p></li>
          <li *ngIf="carDetails?.updateAt"><p class="mb-2">{{'updatedAt' | translate }} : {{carDetails?.updateAt.timestamp * 1000 | date: 'yyyy-MM-dd'}}</p></li>
        </ul>
      </div><!--.col-12-->
      <div class="col-12" *ngIf="carDetails?.description">
        <h5>{{'description' | translate }} : </h5>
        <p>{{carDetails?.description}}</p>
      </div>
    </div><!--.row-->
  </div>
</div>
<div *ngIf="!carDetails">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
