<div class="car-details" *ngIf="realEstate">
  <div class="container">
    <h1 class="my-3 details-title">{{'real-estate-details-page' | translate}}</h1>
    <div class="row">
      <div class="col-12 col-sm-6 mx-auto text-center">
        <div class="image-details mb-3">
          <img (load)="checkImageloaded()" class="img-fluid img-thumbnail" src="{{realEstate?.image}}" (error)="realEstate.image = '../../../../../assets/default-Item.jpg'" alt="{{realEstate?.company}} Image" />
        </div>
        <div class="row w-100 mx-auto" *ngIf="realEstate.images.length != 0">
          <div class="col-4 mx-auto px-0 mb-1" *ngFor="let img of realEstate.images; let i = index">
            <div #secondImageDetails class="second-images-details" (click)="viewImage(secondImageDetails)">
              <img (load)="checkSecondImagesloaded(i)" class="img-fluid" src="{{img?.image}}" (error)="img.image = '../../../../../assets/default-Item.jpg'" alt="Second Images" />
            </div>
          </div>
        </div>
        <div class="overlay" *ngIf="rendering">
          <div class="overlay-lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mx-auto">
        <div class="info-details">
          <ul class="list-unstyled">
            <li>
              <div class="row">
                <div class="col">
                  <h4 class="text-info">{{realEstate?.realEstateType}}</h4>
                </div>
                <div class="col align-self-center text-right">
                  <span class="status border border-secondary rounded py-1 px-2">{{realEstate?.status}}</span>
                </div>
              </div>
            </li>
            <li class="my-2">
              <div class="row">
                <div class="col-4 col-xl-3 text-center">
                  <img class="img-fluid img-thumbnail" src="{{realEstate?.userImage}}" (error)="realEstate.userImage = '../../../../../assets/default-avatar.jpg'" alt="{{realEstate?.username}} Image" />
                </div>
                <div class="col-7 align-self-center">
                  <h4 class="mb-2 text-secondary">{{realEstate?.username}}</h4>
                </div>
              </div>
            </li>
            <li *ngIf="realEstate?.country"><p class="mb-2">{{'country' | translate }} : <span class="text-secondary">{{realEstate?.country}}</span></p></li>
            <li *ngIf="realEstate?.city"><p class="mb-2">{{'city' | translate }} : <span class="text-secondary">{{realEstate?.city}}</span></p></li>
            <li *ngIf="realEstate?.price"><p class="mb-2">{{'price' | translate }} : <span class="text-secondary">{{realEstate?.price | currency}}</span></p></li>
            <li *ngIf="realEstate?.realEstateType"><p class="mb-2">{{'real-estate-type' | translate }} : <span class="text-secondary">{{realEstate?.realEstateType}}</span></p></li>
          </ul>
        </div><!--.info-details-->
      </div><!--.col-12-->
      <div class="col-12">
        <hr class="w-50 mx-auto">
      </div>
      <div class="col-12">
        <h3 class="">{{'more-info' | translate}} :</h3>
      </div>
      <div class="col-12 col-sm-6 mx-auto">
        <ul class="list-unstyled">
          <li *ngIf="realEstate?.space"><p class="mb-2">{{'space' | translate }} : {{realEstate?.space}}</p></li>
          <li *ngIf="realEstate?.numberOfFloors"><p class="mb-2">{{'number-of-floors' | translate }} : {{realEstate?.numberOfFloors}}</p></li>
          <li *ngIf="realEstate?.rooms"><p class="mb-2">{{'rooms' | translate }} : {{realEstate?.rooms}}</p></li>
          <li *ngIf="realEstate?.homeFurnishing"><p class="mb-2">{{'home-furnishing' | translate }} : {{realEstate?.homeFurnishing}}</p></li>
        </ul>
      </div><!--.col-12-->
      <div class="col-12 col-sm-6 mx-auto">
        <ul class="list-unstyled">
          <li *ngIf="realEstate?.createdAt"><p class="mb-2">{{'createdAt' | translate }} : {{realEstate?.createdAt.timestamp * 1000 | date: 'yyyy-MM-dd'}}</p></li>
          <li *ngIf="realEstate?.updatedAt"><p class="mb-2">{{'updatedAt' | translate }} : {{realEstate?.updatedAt.timestamp * 1000 | date: 'yyyy-MM-dd'}}</p></li>
        </ul>
      </div><!--.col-12-->
      <div class="col-12" *ngIf="realEstate?.description">
        <h5>{{'description' | translate }} : </h5>
        <p>{{realEstate?.description}}</p>
      </div>
    </div><!--.row-->
  </div>
</div>
<div *ngIf="!realEstate">
  <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
